<% include ../partials/admin-header.ejs %>
    <!--content-->

    <script>
       $(function(){
           $("#selectall").click(function(){
               $('input:checkbox').not(this).prop('checked', this.checked);
           });
       });
    </script>

    <div id="form-container" class="container">
       <form>
           <div class="row form-group">

               <input type="button" onclick='location.href="/news-create"' value="Создать">
               <button>Правка</button>
               <button>Удалить</button>
               <button>Опубликовать</button>

               <table border="1">
                   <tr>
                       <th><input type="checkbox" id="selectall"/></th>
                       <th>Дата</th>
                       <th>Заголовок</th>
                       <th>Состояние</th>
                   </tr>
                   <% for(var i=0; i<items.length; i++) {%>
                   <tr>
                       <td align="center"><input type="checkbox" class="case" name="case" value=<%=i%>/></td>
                       <td><%= items[i].date %></td>
                       <td><%= items[i].title %></td>
                       <td><%= items[i].status %></td>
                   </tr>

                   <% } %>

               </table>
           </div>

       </form>
    </div>


    <!---->

<% include ../partials/admin-footer.ejs %>